.listPrincipal {
  list-style: none;
  width: 100%;
  border-radius: 6px 6px 0 0;
  background: var(--bg-secondary);
  box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 15px -2px;
  cursor: grab;
  overflow: hidden;
}

.mensajeVacio {
  padding: 18px;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-secondary);
}

@media screen and (max-width: 425px) {
  .mensajeVacio {
    padding: 18px 12px;
  }
}
